#contact_modal {
    display: none;
}

/*photograph-header*/
.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 100px 20px 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*media-section*/
.media-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin: 0 100px;
}

.media-wrapper {
 height: 350px;
 width: 350px;
}

.media-wrapper video,
.media-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*modal & form*/

/* Modal hidden by default */
#contact_modal {
    height: 500px;
    display: none; /* Modale masquée par défaut */
    position: fixed; /* Positionnement fixe par rapport à la fenêtre */
    top: 50%; /* Positionnement centré verticalement */
    left: 50%; /* Positionnement centré horizontalement */
    transform: translate(-50%, -50%); /* Centre exactement la modale */
    background-color: white; /* Couleur de fond blanche */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px; /* Espacement interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour la profondeur */
    z-index: 1000; /* Assure que la modale est au-dessus d'autres éléments */
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 5px;
}

/* lightbox */

#lightbox_modal {
    display: none;
}